<style media="screen">
</style>
<div class="login-page">
  <form novalidate class="" ng-submit="login()">
    <div class="form">
      <div class="forceColor"></div>
      <div class="topbar">
        <div class="spanColor"></div>
        <input type="email" class="input" ng-model="user.userName" id="email" placeholder="email-id" required/>
        <input type="password" class="input" ng-model="user.password" id="password" placeholder="Password" required/>
        <p ng-if="error" style="color: black;font-weight: bold">
          {{error}}
        </p>
      </div>
      <button class="submit" type="submit" style="background: grey; font-weight: 900" id="submit">Login</button>
    </div>
  </form>


</div>
